body {
  font-family: "Poppins", sans-serif;
  background: #272044;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 20px;
}

.img-responsive {
  max-width: 100%;
  display: block;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.container-card {
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  column-gap: 20px;
  padding: 0 30px;
  flex-wrap: wrap;
  row-gap: 10px;
}

.card {
  background-color: white;
  flex-direction: column;
  display: flex;
  overflow: hidden;
  padding: 6px 9px;
  margin: 15px 0;
}

.card:nth-of-type(1) {
  flex: 1 250px;
}

.card:nth-of-type(2) {
  flex: 1 250px;
}

.card:nth-of-type(3) {
  flex: 1 250px;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card-content {
  padding: 6px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.btn {
  color: white;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 17px;
  background-color: #412d8f;
  text-decoration: none;
  margin-top: auto;
  line-height: 20px;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px;
}

section.secondary {
  background: #f7f3f3a1;
  max-width: 1120px;
  margin: 0 auto;
  padding: 10px 0;
}

.grid-3-columns {
  grid-template-columns: repeat(3, 1fr);
}

.cosmic-card {
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  margin: 30px 20px;
  overflow: hidden;
  max-width: 450px;
}

.cosmic-card iframe {
  width: 100%;
  height: 200px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/cosmos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 300;
  font-size: 29px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 700;
  font-size: 23px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  display: inline-block;
  text-align: center;
  color: #272044;
  padding: 18px 24px;
  margin-top: 38px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}

main {
  background-color: white;
}

main h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 4px;
  color: #272044;
  opacity: 0.4;
  padding: 10px 15px;
  margin: 0 auto;
  text-transform: uppercase;
}

main h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  color: #272044;
  padding: 10px 15px;
  margin: 0 auto;
}

main h4 {
  font-size: 22px;
  font-weight: 600;
  color: #272044;
  line-height: 1;
}

main h5 {
  font-size: 12px;
  font-weight: 500;
  color: #272044;
}

main p {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  color: #272044;
  opacity: 0.7;
  line-height: 1.5;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/solar-system.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 14px;
  opacity: 0.5;
  line-height: 20px;
}

footer ul {
  padding: 0 ;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.5;
  font-size: 14px;
}

.footer-social-links {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

.footer-social-links a {
  margin: 0 12px;
  text-decoration: none;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.9);
  transition: 0.3s ease;
}

.footer-social-links a:hover {
  color: white;
  text-decoration: underline;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 38px;
  }

  header h2 {
    font-size: 17px;
  }

  header h3 {
    font-size: 10px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 28px;
  }

  section {
    padding: 30px;
  }

  .card img {
    display: none;
  }
}
