body {
  font-family: "Poppins", sans-serif;
  background: #272044;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/cosmos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 300;
  font-size: 29px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  display: inline-block;
  text-align: center;
  color: #272044;
  padding: 18px 24px;
  margin-top: 38px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}

@media (max-width: 900px) {
    header {
        padding: 60px 0;
    }
    
    header h1 {
        font-size: 38px;
    }

    header h2 {
        font-size: 17px;
    }

    header h3 {
        font-size: 10px;
    }
}